*{
  box-sizing: border-box;
}

head {
  width: 100%;
  margin: 0 auto;
  min-width: 300px;
  max-width: 600px;
  min-height: 150px;
  max-height: 300px;
}

body {
  background-color: lightblue;
  opacity: 1.0;
  position: center;
}

h1 {
  text-align: center; 
  background-color: darkorange;
  color: rgba (0, 0, 0, 0.5);
  width: 100%;
  border: 5px solid black;
  border-radius: 10px;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
  position: sticky;
  top: 0px;
  display: inline-flex;
  z-index: 5;
  opacity: .850;
  justify-content: center;
  
}

.player-info li {
color: rgb(243, 237, 237);
background-color: rgb(1, 1, 12);
opacity: .850;
width: 100%;
text-align: center;
border: 3px solid rgb(243, 18, 37);
border-radius: 100px;
top:0px;
display: inline-flex;
justify-content: center;
position: relative
}

.breadcromb > li {
  display: inline;
  text-decoration: none; 
}

.breadcromb li+li::before {
  padding: 10px;
  content: ">";
}

.breadcrumb:hover {
color: red; 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Pictures {
  position: relative;
  display: inline-flex;
  top: 0px;
  alignment: center; 
  text-align: center;
  place-items: center;
}

  td {
  border: 1px solid black;
}

  th {
  border: 1px solid black;
}

.Fall_2024 :hover {
    color: black;
    background-color: red; 
    cursor: not-allowed;
 }

 .Season_Fall_2024 {
  text-align: center;
  border: 1px solid blue;
  position: relative;
  alignment: center;
  margin-left: auto;
  margin-right: auto;
  
 }

.Spring_2024 :hover {
    color: white;
    background-color: maroon; 
    cursor: not-allowed;
 }

 .Season_Spring_2024 {
  text-align: center;
  border: 1px solid blue;
  position: relative;
  alignment: center;
  margin-left: auto;
  margin-right: auto;
  
 }

.Fall_2023 :hover{
  color: white;
  background-color: navy;
  opacity: 0.75;
  overflow: scroll; 
  cursor: no-drop;
  }

.Season_Fall_2023 {
   alignment: center;
   border: 1px solid blue;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   
}

.DNP {
  alignment: center;
  text-alignment: center;
  font-style: italic;
}

button {
  text-align: center;
  color: darkgreen;
  background-color: pink; 
  border-radius: 5px;
  box-shadow: 0px 4px;
  margin: 0 auto; 
}

button:hover {
  background-color: blue;
  cursor: wait;
}

 .Legal_Info {
  text-align: center;
  display: block;
  width: 100%; 
 
 }
